{% from 'table.j2' import build_table %}

{%- include 'header.j2' %}

## ひらがな

[Origin Chart](https://commons.wikimedia.org/wiki/File:Hiragana_origin.svg)

{{ build_table(hiragana) }}

## カタカナ

[Origin Chart](https://commons.wikimedia.org/wiki/File:Katakana_origine.svg)

{{ build_table(katakana) }}
