<!-- This Markdown file is generated automatically: edit header.j2 instead -->

Chart of the kanji that each kana originated from, together with an example world that utilizes that reading (including [phonosemantic characters](https://en.wikipedia.org/wiki/Chinese_characters#Phono-semantic_compounds)). This is similar to the process used by Heisig at the beginning of [_Remembering the Kanji: Volume II_](https://en.wikipedia.org/wiki/Remembering_the_Kanji_and_Remembering_the_Hanzi). Read that book if you want a better approach towards "kanji with kana sounds".

Also note some of these kanji are too old and not in use, and so are excluded.

## Updating

Requires jinja2 to be installed.

```
python3 generate.py
git commit -a
```

This will generate a new `README.md` file from the CSV data files and Jinja templates.
