{% from 'ruby.j2' import render_ruby %}

{% macro build_table(entries) %}
| Kana | Kanji | Example Word | Definition |
|:----:|:-----:|:------------:|:----------:|
{% for entry in entries -%}
{% if entry.definition -%}
| {{ entry.kana }} | {{ entry.kanji }} | {{ render_ruby(entry.ruby) }} | {{ entry.definition }} |
{%- else %}
| {{ entry.kana }} | {{ entry.kanji }} | &mdash; | &mdash; |
{% endif %}
{% endfor %}
{%- endmacro %}
