body {
    font-family: 'Noto Sans', sans-serif;
}

a:link {
    color: #3e5e8e;
    text-decoration: none;
}

a:visited,
a:active {
    color: #778eaf;
}

a:hover {
    color: #172335;
}

.container {
    background-color: #c5c5c5;
    width: 80%;
    margin: 0.5em;
    padding: 1em;
    box-shadow: 0 0 0.2em gray;
}

.review {
}

.japanese {
}

.english {
}
