<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>言葉 Review</title>
</head>
<body>
  <script>{{ script }}</script>
  <style>{{ style }}</style>

  <div id="container"></div>
</body>
</html>
