<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html">
  <link rel="stylesheet" href="/static/style.css">
  <title>言葉 Review</title>
</head>
<body>
  <script src="/static/script.js"></script>
  <noscript>This service requires Javascript to run.</noscript>

  <div id="container"></div>
</body>
</html>
