{% from 'utils.j2' import ruby %}

<html>
<head>
  <title>{{ year }}年 {{ month }}月 カレンダー</title>
</head>
<body>
  {% include 'styles.j2' %}

  <table class="calendar">
    <caption>{{ year }}年 {{ month }}月</div>
    <thead>
      <tr>
        {% for week_day in week_days %}
          <th>
            {{ ruby(
              [week_day.kanji] + week_days_after.kanji,
              [week_day.hiragana] + week_days_after.hiragana,
              use_furigana,
            ) }}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for week in weeks %}
        <tr class="week">
          {% for day in week %}
            <td class="day {{ day.class }}">
              {% if day %}
                <div class="day-number">{{ day.arabic }}</div>
                <div class="day-hiragana">{{ day.hiragana }}</div>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </div>
</body>
</html>
