<style>
  caption {
    font-size: 1.6em;
  }

  table,
  td,
  tr {
    border: 1px solid gray;
  }

  td {
    text-align: center;
    padding: 0.2em;
  }

  .day-hiragana {
    font-size: 0.8em;
  }

  .day-normal {
    background-color: lightblue;
  }

  .day-tsu {
    background-color: lightgreen;
  }

  .day-special {
    background-color: pink;
  }
</style>
