<style>
  table,
  td,
  tr {
    border: 1px solid gray;
  }

  td {
    padding: 0.2em;
  }

  .calendar caption {
    font-size: 1.6em;
  }

  .calendar td {
    text-align: center;
  }

  .day-hiragana {
    font-size: 0.8em;
  }

  .day-tsu {
    background-color: lightgreen;
  }

  .day-tsu-special {
    background-color: mediumseagreen;
  }

  .day-special {
    background-color: pink;
  }

  .legend {
    margin-top: 1em;
  }
</style>
