{% from 'elements.j2' import render %}

<html>
<head>
  <title>Element breakdown for "{{ keyword }}"</title>
</head>
<body>
  <style>{{ style }}</style>
  <style>
    table, td, tr {
      border: thin solid gray;
    }

    td {
      padding: 0.4em;
    }
  </style>
  <table>
    <tr>
      <th>{{ keyword }}</th>
    </tr>
    <tr>
      <td>
        <span class="element">{{ render(element) }}</span>
      </td>
    </tr>
  </table>
</body>
</html>
