<style>
  table,
  td,
  tr {
    border: thin solid gray;
  }

  td {
    padding: 0.2em;
  }

  .weekdays caption {
    font-size: 1.6em;
  }

  .weekdays td {
    text-align: center;
  }

  .explanation {
    width: 60vw;
    text-align: justify;
  }

  .explanation h3 {
    text-align: center;
  }

  .label {
    word-break: keep-all;
    overflow-wrap: normal;
  }
</style>
