{% from 'utils.j2' import ruby %}

<html>
<head>
  <title>{{ year }}年 {{ month }}月 カレンダー</title>
</head>
<body>
  {% include 'styles.j2' %}

  <table class="weekdays">
    <caption>Days of the Week</caption>
    <thead>
      <tr>
        <th>{{ words.word }}</th>
        <th>{{ words.english }}</th>
        <th>{{ words.planet }}</th>
        <th>{{ words.symbol }}</th>
        <th title="{{ words.kanji_hiragana }}">{{ words.kanji }}</th>
        <th>{{ words.hiragana }}</th>
      </tr>
    </thead>
    <tbody>
      {% for week_day in week_days %}
        <tr>
          <td>
            {{ ruby(
              [week_day.kanji] + after.kanji,
              [week_day.hiragana] + after.hiragana,
              use_furigana,
              ) }}
          </td>
          <td>{{ week_day.english }}</td>
          <td>{{ week_day.planet }}</td>
          <td>{{ week_day.symbol }}</td>
          <td>{{ week_day.kanji }}</td>
          <td>{{ week_day.hiragana }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
